@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700&display=swap');

$family-sans-serif: "Oswald", sans-serif;
$primary: $red;
$text: $white;
$text-strong: $white;
$grey-dark: $dark;
$link: $red;

@import 'bulma';
